body{
	background: url(../images/abstract_wavy_background.jpg) no-repeat center center fixed;
}
.jumbotron{
	/*padding: 1%;*/
	background-color: yellowgreen;
	color: green;
}

#movies{
	padding: 3%;
}

div{
	margin-bottom: 2%;
}